.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgb(73, 253, 52);
  background: radial-gradient(
    circle,
    rgba(73, 253, 52, 0.891281512605042) 0%,
    rgba(106, 212, 138, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.form {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 4rem 1rem 4rem;
  gap: 2rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 45px 0px black;
  font-family: "Bangers", sans-serif;
}

.form h2 {
  color: black;
  font-size: 2rem;
}

.logInMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.emailContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.passwordContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.buttonLog {
  width: 140px;
  height: 40px;
  margin-top: 1rem;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  color: black;
}

.buttonLog:hover {
  background-color: #4caf50;
  color: white;
}

.Inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  padding: 0 10px;
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  height: 25px;
  width: 220px;
}

.labels {
  align-self: flex-start;
}

.link {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-right: 1rem;
    gap: 10px;
}

.link:hover {
    color: red;
}


.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgb(73, 253, 52);
  background: radial-gradient( circle, rgb(19 18 19 / 89%) 0%, rgb(60 130 81) 0%, rgb(5 38 76) 100% );
}

.dark {
  .form {
    display: flex;
    background-color: #15172D;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 4rem 1rem 4rem;
    gap: 2rem;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 45px 0px black;
    font-family: "Bangers", sans-serif;
  }
  
  .form h2 {
    color: #fcff00;
    font-size: 2rem;
  }
  
  .logInMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .emailContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  
  .passwordContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  
  .buttonLog {
    width: 140px;
    height: 40px;
    margin-top: 1rem;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1a761d;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: white;
  }
  
  .buttonLog:hover {
    background-color: #4caf50;
    color: white;
  }
  
  .Inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    height: 25px;
    width: 220px;
  }
  
  .labels {
    align-self: flex-start;
  }
  
  .link {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      margin-right: 1rem;
      gap: 10px;
  }
  
  .link:hover {
      color: red;
  }
}