.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  position: fixed;
  width: 14rem;
  padding: 1rem 0;
  background-color: rgb(13, 13, 13);
  color: white;
  font-family: "Bangers", sans-serif;
  box-shadow: 0px 7px 18px black;
}

.container button {
  background: transparent;
}

.imgContainer {
  margin-bottom: 3rem;
}

.imgContainer hr{
  width: 13rem;
}

.linkAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 10px;
  margin-bottom: 1rem;
}

.adminVerify {
  margin-top: 10px;
}

.adminVerify p{
  margin: 0;
}

.adminVerify p:first-child {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.verified {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 14px
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  color: white;
}

.link,
.goBack {
  text-decoration: none;
  color: gray;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.active {
  color: green;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.link:hover {
  color: rgb(96, 96, 96);
}

.goBack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10rem;
}

.goBack:hover {
  color: tomato;
}
