@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Rubik&display=swap");

*{
  transition: all 1s;
}

a {
  text-decoration: none;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.test{
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
@media (max-width: 768px) {

  /* #root > nav { /* NavBar 
    justify-content: flex-start;
  } */





  #root  > nav + section   { /* section */
    margin: 0;
    justify-content: center;
    
  }

  #root  > nav + section  > div  { /* Filtros */
    margin: 10px 10px;
    justify-content: center;

  }



  #root > section > div:first-child {  /* Titulo pagina */
    display: none;
    border: 3px solid red; 
  }
}

@media (max-width: 350px) {
 #root > :not(.test) {
  display: none;
 }
  
  .test {
    display: block !important;
    font-family: "Bangers", sans-serif;
    font-size: 2rem;
    text-align: center;
    
  }

}