.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    font-family: 'Bangers', sans-serif;
    gap: 1rem;
    font-size: larger;
}
  
.container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
  
.container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
  
.input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.input {
    width: 30%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
}
  
.res_button {
    width: 140px;
    font-weight: bold;
    height: 40px;
    margin: 1rem 0;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: black;
}
  
.res_button:hover {
    background-color: #4caf50;
    color: white;
}
  
.res_button:active {
    background-color: #4caf50;
    color: white;
}
  
.res_button:focus {
    outline: none;
}
  
.res_button:disabled {
    background-color: #b63232;
    color: white;
    cursor: not-allowed;
}
  
.res_button:disabled:hover {
    background-color: #b63232;
    color: white;
}
  
.res_button:disabled:active {
    background-color: #b63232;
    color: white;
}
  
.res_button:disabled:focus {
    outline: none;
}
  
.res_button a {
    text-decoration: none;
    color: black;
}
  
.res_button a:hover {
    text-decoration: none;
    color: white;
}
  
.res_button a:active {
    text-decoration: none;
    color: white;
}
  
.res_button a:focus {
    outline: none;
}
  
.res_button a:disabled {
    text-decoration: none;
    color: white;
    cursor: not-allowed;
}
  
.res_button a:disabled:hover {
    text-decoration: none;
    color: white;
}
  
.res_button a:disabled:active {
    text-decoration: none;
    color: white;
}
  