.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 0 4rem;
  font-family: "Rubik", sans-serif;
}

.buttonBack button {
  margin: 1rem 0 0 4rem;
  background: transparent;
  color: #000;
}

.buttonBack button:hover {
  color: gray;
}

.relatedsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 8rem;
  font-family: "Bangers", sans-serif;
  margin: 5rem 0;
}

.relatedsContainer h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 5rem;
  width: 100%;
  color: #9f2d1c;
  letter-spacing: 6px;
  text-shadow: 1px 1px black;
}

.comicsRelated {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 1rem 3rem #000;
  transition: 0.4s ease-out;
  margin-bottom: 6rem;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-30px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.comicsRelated img {
  height: 22rem;
  width: 17rem;
  cursor: pointer;
}

.imageContainer img {
  width: 25rem;
  height: 35rem;
  box-shadow: 0 9px 28px rgba(0, 0, 0, 1);
  transition: transform 0.2s ease; /* Smooth transition for the rotation effect */
  transform-style: preserve-3d; /* Required for 3D transformations */
}

.imageContainer {
  margin: 4rem 0;
  perspective: 1000px;
}

.content {
  width: 40%;
  padding: 2rem 0;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.content h3,
.price {
  color: #9f2d1c;
}

.descriptionContainer h4 {
  margin-top: 2rem;
  margin-bottom: 10px;
}

.descriptionContainer {
  margin-bottom: 4rem;
}

.containerButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.containerButtons button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: white;
  position: relative;
  font-family: "Bangers", sans-serif;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.containerButtons button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.containerButtons button:hover {
  color: #e8e8e8;
}

.containerButtons button:hover::before {
  width: 100%;
}

.containerButtons button:last-child:disabled {
  background-color: gray;
  color: rgba(211, 211, 211, 0.625);
  cursor: not-allowed;
  opacity: 0.6;
}

.icons {
  margin-left: 10px;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding: 0 1rem;
  }

  .content {
    width: 80%;
  }

  .containerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dark {
  color:#e8e8e8;
  .buttonBack button{
    margin: 1rem 0 0 4rem;
    background: transparent;
    color: #e8e8e8;
  }
  .relatedsContainer h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
    width: 100%;
    color: #fcff00;
    letter-spacing: 6px;
    text-shadow: 1px 1px black;
  }
  .content h3,
.price {
  color: #aa746c;
}
}