.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-family: "Bangers", sans-serif;
  margin-bottom: 7rem;
}

.container h1 {
  font-size: 3.5rem;
  color: #9f2d1c;
  letter-spacing: 6px;
  text-shadow: 1px 1px black;
  margin-bottom: 0;
}

.container hr {
  width: 70%;
}

.notPurchases {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0 10rem 0;
  font-size: 3rem;
}

.link {
  color: black;
}

.infoComic {
  align-self: flex-start;
}

.infoComic img {
  height: 17rem;
  width: 13rem;
}

.purchaseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 50%;
}

.purchaseContainer hr {
  width: 100%;
}

.infoComic p {
  color: #9f2d1c;
}

.infoPurchase {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.infoPurchase h3 {
  margin: 0;
  color: #9f2d1c;
}

.infoPurchase span {
  color: green;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 16px 0;
}

.link:hover {
  color: gray;
}

.Accordion {
  width: 100%;
}

.AccordionDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.Accordion p:first-child {
  font-weight: bold;
}

/* ###########Dark Mode############ */
.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-family: "Bangers", sans-serif;
  margin-bottom: 7rem;
}

.dark h1 {
  font-size: 3.5rem;
  color: #fcff00;
  letter-spacing: 6px;
  text-shadow: 1px 1px black;
  margin-bottom: 0;
}

.dark hr {
  width: 70%;
}

.dark {
  .notPurchases {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 10rem 0;
    font-size: 3rem;
  }

  .link {
    color: white;
  }

  .infoComic img {
    height: 17rem;
    width: 13rem;
  }

  .purchaseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 2rem;
  }

  .infoComic p {
    color: #fcff00;
  }

  .infoPurchase {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    gap: 1rem;
  }

  .Accordion {
    width: 100%;
    background-color: black;
    color: white;
  }

  .Accordion p:first-child {
    font-weight: bold;
  }

  .AccordionDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  margin-top: 2rem;

  }

  .infoPurchase h3 {
    margin: 0;
    color: #fcff00;
  }

  .purchaseContainer hr {
    width: 100%;
  }

  .infoComic {
    align-self: flex-start;
  }
}

@media (max-width: 768px) {
  .card {
    width: 20rem;
    gap: 1rem;
  }
  .form {
    width: 80%;
  }

  .purchaseContainer {
    width: 90%;
  }
}
