.modal {
  width: 37%;
  height: 30%;
  padding: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: aliceblue;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 3rem;
  font-family: "Bangers", sans-serif;
  gap: 2rem;
}

.contentContainer img {
    width: 25rem;
    position: absolute;
    top: -4rem;
    left: -17rem;
}

.button:hover {
    background-color: red;
}