.container h2 {
  font-size: 4rem;
  text-align: center;
  color: #9f2d1c;
  font-family: "Bangers", sans-serif;
  letter-spacing: 6px;
  text-shadow: 1px 1px black;
}

.container hr {
  width: 90%;
}

.formulario {
  background-color: #000000;
  border-radius: 13px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 6px solid #000000;
  max-width: 90%;
  margin: 2rem auto 4rem auto;
  padding: 40px 0;

  display: grid;
  grid-template-areas:
    "left1 left2"
    "right right";
  grid-template-columns: 1fr 1fr; /* Dos columnas arriba */
  grid-gap: 2rem;
}

.formulario div:nth-child(1) {
  grid-area: left1;
}

.formulario div:nth-child(2) {
  grid-area: left2;
}

.formulario div:nth-child(3) {
  grid-area: right;
}

.formulario input {
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: start;
  width: 230px;
}

.formulario select {
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: start;
  cursor: pointer;
  width: 249px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: self-end;
  gap: 2rem;
}

.imagePreviewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePreviewContainer image {
  max-width: 100%;
  height: auto;
}

.selectFileContainer, label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selectFileContainer label:hover {
  color: gray;
  cursor: pointer;
}

.selectFileContainer button {
  margin-left: 2rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.container button {
  padding: 10px 25px;
  border: unset;
  font-family: "Bangers", sans-serif;
  border-radius: 15px;
  color: #212121;
  cursor: pointer;
  z-index: 1;
  background: white;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.container button:hover {
  color: #e8e8e8;
}

.container button:hover::before {
  width: 100%;
}

@media (max-width: 768px) {
  .formulario {
    grid-template-areas:
      "left1"
      "left2"
      "right";
    grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
  }
}
