.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  border: 2px solid;
  transition: all 0.3s ease-in-out;
  align-items: center;
  width: 27%;
  /* margin-left: 10px; */
  padding-left: 13px;
}

.container input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 8px 20px;
  color: white;
  font-weight: 700;
}

.btn {
  color: white;
  cursor: pointer;
  padding-right: 1rem;
}

.btn:hover {
  color: gray;
}

@media (max-width: 950px) {
  .container {
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
  }

  .container input {
    width: 100%;
    /* max-width: 100px; */
    font-style: italic;
    font-size: 12px;
  }
}