.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Rubik", sans-serif;
}

.emptyCartMessage {
    font-size: 1rem;
    padding: 3rem 0;
}

.totalContainer span {
    color: green;
}