.tableContainer {
  overflow-x: hidden;
  margin: 3rem 0;
}

.title {
  font-family: "Bangers", sans-serif;
  font-size: 3.5rem;
  color: #9f2d1c;
  letter-spacing: 6px;
  text-shadow: 1px 1px black;
}

.sortButton {
    background: transparent;
    color: black;
    font-weight: bold;
    padding: 0;
}

.sortButton span {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.edit,
.delete {
  background: transparent;
  padding: 0;
}

.edit {
  color: rgb(9 122 9);
}

.edit:hover {
  color: rgb(10, 95, 10);
}

.delete {
  color: red;
}

.delete:hover {
  color: rgb(185, 13, 13);
}
