.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    background-color: rgb(13, 13, 13);
    color: white;
    font-family: 'Bangers', sans-serif;
    box-shadow: 0px -15px 34px black;
}

.imgContainer {
    margin-left: 3rem;
    margin-right: 25px;
}

.imgContainer img {
    border-radius: 100%;
    width: 56px;
}

.linkContainer {
    display: flex;
    gap: 2rem;
    margin-right: 3rem;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.link:hover {
    color: grey;
}